{% extends "base.html.twig" %}

{% block body %}
    <div class="notes" action="/todo-list/edit" method="post">
        <div class="new-note">
            <h2 class="title-new-note"><span class="title-note-text">Новый список...</span></h2>
        </div>
    </div>
{% endblock %}