{% extends "base.html.twig" %}

{% block body %}
    <div class="notes">
        <div class="new-note">
            <h2 class="title-new-note">
                <span class="title-note-text">
                    Новая доска...
                </span>
            </h2>
        </div>
    </div>
{% endblock %}