{% extends "base.html.twig" %}

{% block body %}
    <div class="boards">
        <div class="boards-board-new">
            <h2 class="board-new-title">
                <span class="board-title-text">
                    Новая доска...
                </span>
            </h2>
        </div>
    </div>
{% endblock %}