{% extends "base.html.twig" %}

{% block body %}

    <div class="boards">
        <div class="boards-board-new">
            <div class="board-new-title">
                <span class="board-title-text">
                            <a href="/boards/create"
                               class="board-title-text">Новая доска</a>
                </span>
            </div>
        </div>

        {% for board in boards %}

            <div class="board">
                <a href="/boards/{{ board.id }}/remove" class="button button-task-del"> 🞫</a>
                <div class="board-title">
                    <a href="/boards/{{ board.id }}"> <span class="board-title-text">{{ board.title }}</span></a>
                    <a href="/boards/{{ board.id }}/edit" class="button button-edit">✎ </a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}