{% extends "base.html.twig" %}

{% block body %}

    <div class="boards">

        <div class="logout">
            <a href="/logout"
               class="board-title-text">Выход</a>
        </div>

        <div class="boards-board-new">
            <div class="board-new-title">
                <span class="board-title-text">Новая доска</span>
            </div>
        </div>

        {#        {% for board in boards %} #}

        {#            <div class="board" data-board-id="{{ board.id }}"> #}
        {#                <button class="button button-task-del js-board-remove">🞫</button> #}
        {#                <div class="board-title"> #}
        {#                    <a href="/boards/{{ board.id }}"> #}
        {#                        <span class="board-title-text" #}
        {#                              data-board-title="{{ board.title }}"> #}
        {#                            {{ board.title }} #}
        {#                        </span> #}
        {#                    </a> #}
        {#                    <button class="button button-edit js-board-edit">✎</button> #}
        {#                </div> #}
        {#            </div> #}

        {#        {% endfor %} #}
    </div>

{% endblock %}