@font-face {
    font-family: FiraSansExtraCondensed-SemiBold;
    src: url(../fonts/FiraSansExtraCondensed-SemiBold.ttf);
}

@font-face {
    font-family: FiraSansExtraCondensed-ExtraLight;
    src: url(../fonts/FiraSansExtraCondensed-ExtraLight.ttf);
}

body {
    margin: 0;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
}

.form {
    position: relative;
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    top: 100px;
}

.inner-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
    padding-top: 15px;
    height: 180px;
}

.label-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 220px;
    padding: 10px;
}

input {
    width: 220px;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #2C2C2C2D;
    background-color: transparent;
}

input:focus {
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    line-height: 18px;
    outline-color: #2c2c2c;
    outline-width: 1px;
    outline-style: ridge;
    outline-offset: -1px;
}

.button-auth {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #fcd9a7;
    width: 350px;
    height: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
}

.button-signup {
    position: relative;
    bottom: -5px;
}

.button-signin {
    position: relative;
    bottom: -48px;
}

a {
    color: #2c2c2c;
}

.a-signup {
    position: relative;
    bottom: -43px;
}


