@font-face {
    font-family: FiraSansExtraCondensed-SemiBold;
    src: url(../fonts/FiraSansExtraCondensed-SemiBold.ttf);
}

@font-face {
    font-family: FiraSansExtraCondensed-ExtraLight;
    src: url(../fonts/FiraSansExtraCondensed-ExtraLight.ttf);
}

.body {
    margin: 0;
}

.boards {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    font-size: 18px;
    color: #2c2c2c;
}

.board {
    background-color: antiquewhite;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.board-title {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 15px 35px 15px 15px;
}

.board-title textarea {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    line-height: 22px;
}

.board-title textarea:focus {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    line-height: 33px;
}

.board-title-text {
    line-height: 33px;
    overflow-wrap: anywhere;
}

/* цвет для заметки */

.board--indianred {
    background-color: #e38c8c;
}

.board--lavender {
    background-color: lavender;
}

.board--antiquewhite {
    background-color: antiquewhite;
}

.board--teal {
    background-color: #9cdede;
}

/* стили для новой заметки */

.boards-board-new {
    background-color: #fcf6f2;
    font-style: italic;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.board-new-title {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.board-new-title textarea {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
}

.button {
    position: absolute;
    background-color: transparent;
    padding-right: 0;
    border: none;
    cursor: pointer;
    color: #2c2c2c;
    text-decoration: none;
}

.button-edit {
    color: #9d9d9d;
    font-size: 12px;
}

.button-task-del {
    font-size: 22px;
    top: 9px;
    left: 225px;
}

.input {
    width: 215px;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    color: #2c2c2c;
    background-color: transparent;
    border: none;
    overflow: hidden;
    resize: none;
}

.input:focus {
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    line-height: 18px;
    outline-color: rgba(44, 44, 44, 0.18);
    outline-style: ridge;
}
