{% extends "base.html.twig" %}

{% block body %}
    {% for massage in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {% if error %}
        <div>
            {{ error.message }}
        </div>
    {% endif %}

    <div class="form">
        <form class="inner-form" action="/login" method="post">
            <div>
                <label class="label-text" for="login">
                    <input type="text" id="login" name="_username" value="{{ login }}" placeholder="Логин">
                </label>
            </div>
            <div>
                <label class="label-text" for="password">
                    <input type="password" id="password" name="_password" placeholder="Пароль">
                </label>
            </div>
            <div class="a-signup">
                <a href="/signup">Регистрация</a>
            </div>
            <div>
                <button class="button-auth button-signin" type="submit">Войти</button>
            </div>
        </form>
    </div>

{% endblock %}