{% extends "base.html.twig" %}

{% block body %}
    <div class="form">
        <form class="inner-form" action="/signup" method="post">
            <div>
                <label class="label-text" for="login">
                    <input type="text" id="login" name="login" placeholder="Логин">
                </label>
            </div>
            <div>
                <label class="label-text" for="email">
                    <input type="text" id="email" name="email" placeholder="Адрес электронной почты">
                </label>
            </div>
            <div>
                <label class="label-text" for="password">
                    <input type="password" id="password" name="password" placeholder="Пароль">
                </label>
            </div>
            <div>
                <a href="/login">Войти</a>
            </div>
            <div>
                <button class="button-auth button-signup" type="submit">Регистрация</button>
            </div>
        </form>
    </div>
{% endblock %}