{% extends "base.html.twig" %}

{% block body %}
    <form class="inner-form" action="/signup" method="post">
        <div>
            <label class="label-text" for="login">Логин: <input type="text" id="login" name="login"></label>
        </div>
        <div>
            <label class="label-text" for="email">Email: <input type="text" id="email" name="email"></label>
        </div>
        <div>
            <label class="label-text" for="password">Пароль: <input type="password" id="password" name="password"></label>
        </div>

        <div class="button">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}